COMPOSE_PROJECT_NAME=porep-market-curio-devnet
DEVNET_IMAGE_NAMESPACE=porep-market-curio-devnet
DEVNET_CURIO_SHORT_COMMIT=ce15c0c92209
DEVNET_DATA_DIR=../.runtime/devnet/data
DEVNET_PROOF_PARAMETERS_DIR=../.cache/proof-parameters
DEVNET_FILECOIN_SERVICES_SOURCE=../.cache/sources/filecoin_services/e485abae3f89775b3c9a0014c74a60ae9e98fe8c
DEVNET_MULTICALL3_SOURCE=../.cache/sources/multicall3/b667d67ecfa5361a81e8f110234ce242613b0012
DEVNET_YUGABYTE_IMAGE=yugabytedb/yugabyte:2024.1.0.0-b129@sha256:5074792658b19c1379d79fdfe418d33a6587c2637422f56d0d224d8bbbe277a8
FILECOIN_RPC_URL=http://127.0.0.1:2234/rpc/v1
CURIO_MARKET_URL=http://127.0.0.1:22310
CURIO_API_URL=http://127.0.0.1:22300
CURIO_UI_URL=http://127.0.0.1:24701
